<form action="/deleteBookingguest/<%= booking._id %>" method="POST" style="display:inline;"
    onsubmit="return confirm('Are you sure you want to delete this booking?');">
    <button type="submit"
        style="background-color: red; color: white; padding: 12px; border: none; border-radius: 5px; cursor: pointer; width: 100%;">
        Delete Booking
    </button>
</form>