<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>GuestOnboarding</title>
  <style>
    #navbar {
      text-align: center;
      padding-top: 50px;
    }

    .navbar1 {
      padding: 10px;
      margin: 10px;
    }

    button {
      background-color: rgb(59, 130, 246);
      height: 50px;
      width: 200px;
      border-radius: 8px;
      box-shadow: 1px 2px 3px 4px;
    }
  </style>
</head>

<body>
  <div class="holecode">
    <nav id="navbar">
      <div class="navbar1">
        <h1>GuestOnboarding</h1>
        <p>"Welcome to GuestOnboarding – Your Seamless Journey Begins Here!"</p>
      </div>

      <div class="navbar1 ">
        <a href="/login">
          <button>SignUp/Login</button></a>
      </div>
    </nav>


  </div>
  </footer>

  </div>
</body>

</html>